body {
	font-family: 'Orbitron', sans-serif;
	background-color: #801515;
	color: white;
}

#hero-gifs div {
	display: inline-block;
	padding: 10px;

}
#hero-gifs p {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	margin-top: 5px;
}
.heroBtn {
	margin: 5px;
	background-color: black;
}
h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
#hero-input {
	background-color: black;
}
#add-hero {
	background-color: black;
}
.col-xs-2 {
	background-color: #330000;
	padding: 20px;
}