body {
	font-family: 'Orbitron', sans-serif;
	background-color: #801515;
	color: white;
}

#hero-gifs div {
	display: inline-block;
	margin: 2px;

}


#hero-gifs p {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	margin-top: 5px;
}
.heroBtn {
	margin: 5px;
	background-color: grey;
	border-radius: 15px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: white;

}

.heroBtn:hover {
	background-color: black;

}
h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
#hero-input {
	background-color: black;
	margin-bottom: 20px;
}
#add-hero {
	background-color: black;
}
.col-xs-2 {
	background-color: #330000;
	padding: 20px;
	height: 100%;

}